<template name="comments">
<ul class="comments">
  {{#each comments}}
  <li data-id="{{_id}}">
    <blockquote>
      <p>{{ content }}</p>
      <small>{{ username user_id }}</small>
      <span class="rate">{{rate}}</span>
      <div class="buttons">
        {{#if canPlus this}}
          <button class="plus btn btn-success">+</button>
        {{/if}}
        {{#unless canPlus this}}
          <button class="minus btn btn-danger">-</button>
        {{/unless}}
      </div>
      {{#if canRemove this}}
        <a class="btn btn-danger remove_coment">Удалить</a>
      {{/if}}
    </blockquote>
  </li>
  {{/each}}
</ul>

<form class="form-horizontal" id="create_comment">
  <div class="control-group">
    <label class="control-label">Оставить комментарий</label>
    <div class="controls">
      <textarea id="comment_content"/>
    </div>
  </div>
  <div class="control-group">

    <button type="submit" class="btn" style="float: right">Создать</button>
  </div>
</form>
</template>

