<template name="questions_list">
<h2>{{section_name}}</h2>
<ul>
  {{#each questions}}
  <div class="question">
    <div class="content">
      <p>{{value}}</p>
      <span class="count">{{comments_count}}</span>
      <small>{{ username user_id }}</small>
    </div>
    <a class="btn" href="/questions/{{_id}}">Посмотреть Комментарии</a>
  </div>
  {{/each}}
</ul>

<form class="form-horizontal" id="create_question">
  <div class="controls">
    <label>Задайте вопрос</label>      
    <textarea id="question_value"/>
    </div>
  </div>
  <div class="control-group">
    <button type="submit" class="btn" style="float: right">Создать</button>
  </div>
</form>
</template>
